*{
  box-sizing: border-box;
  font-family: 'Itim', cursive;;
}

:root{
--primary: #5243c7;
--black: #0f0f1a;
--blackLighter: #9E9E9E;
--grayLight: #F5F5F5;
--grayMedium: #e5e5e5;
--white: #44FFD1;
--frontEnd: #6BD1FF;
--backEnd: #00C86F;
}

html,body{
  margin: 0;
  padding: 0;
}

a{
  color:inherit;
}

.Titulo{
  text-align: center;  
}

#root{
  min-height: 100vh;
  display:flex;
  flex-direction: column;
}